@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;

}

body{
  cursor: none;
}

.cursor-dot{
  width: 5px;height: 5px;
  background: white;
}
.cursor-outline{
  width: 30px
  ;
  height: 30px;
  border: 2px solid  rgb(206, 199, 199);
}

.cursor-dot,.cursor-outline{
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50% , -50%);
  border-radius: 50%;
  z-index: 999999999999;
  pointer-events: none;
}

:root {
  --button-primary-color: #1bb96b;
  --button--border-color: #ffffff;
  --button-pressed-color: #1bb96b;
  --button-hover-color: #1bb96b80;
  --button-accent-color: #b91b5d;
  --inactive-color: #808792;
  --active-color: #1bb96b;
  --nav-bg-color: #130d25;
  --nav-bg-color: #130d25;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: sans-serif;
  color: var(--bs-dark-color);
}

h1 {
  font-size: 3.8rem;
}

h2 {
  /* line-height: 2rem; */
  font-weight: 600;
  font-size: 3.4rem;
}
li a:active {
  color: var(--button-primary-color);
}
li a {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #808792;
}

p {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  color: var(--bs-dark-color);
  letter-spacing: 0.07rem;
  /* line-height: 1.55rem; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}
ul li {
  list-style: none;
  white-space: nowrap;
}
.image {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.bg-main {
  height: 100vh;
  /* position: relative; */
}

.bg-color {
  background-color: var(--bg-color);
}

.bg-theme {
  color: var(--bs-supporting-color);
  background-image: none !important;
}

.fa-star {
  color: var(--bs-supporting-color);
}

.nav-link :active {
  color: var(--active-color) !important;
}
.nav-link {
  color: var(--inactive-color);
  font-weight: bold;
}
.nav-link:hover {
  color: blue;
}

.offcanvas-start , .offcanvas{
  height: 100%!important;
}

/* 
@media screen and (max-height:667px)  {
  .offcanvas-start , .offcanvas{
    height: 98%!important;
  }
  
}
@media screen and (max-height:896px)  {
  .offcanvas-start , .offcanvas{
    height: 99%!important;
  }
  
}
@media screen and (max-height:1180px)  {
  .offcanvas-start , .offcanvas{
    height: 99%!important;
  }
  
}
@media screen and (max-height:1368px)  {
  .offcanvas-start , .offcanvas{
    height: 99.2%!important;
  }
  
}
@media screen and (max-height:720px)  {
  .offcanvas-start , .offcanvas{
    height: 98%!important;
  }
  
}
@media screen and (max-height:914px)  {
  .offcanvas-start , .offcanvas{
    height: 98%!important;
  }
  
}
@media screen and (max-height:800px)  {
  .offcanvas-start , .offcanvas{
    height: 98%!important;
  }
  
}
@media (min-height:915px) and (max-height:1110px)  {
  .offcanvas-start , .offcanvas{
    height: 98%!important;
  }
  
}
@media (min-height:896px) and (max-height:896px)  {
  .offcanvas-start , .offcanvas{
    height: 98.9%!important;
  }
  
}
@media (min-height:932px) and (max-height:932px)  {
  .offcanvas{
   left: 0!important;
  }
  
} */